<html lang="pt-BR">
<head>
  <title>Digital Cash</title>
  <% icon = image_url ""%>
  <link rel="shortcut icon" href="<%= icon %>">

  <meta name="turbolinks-cache-control" content="no-cache">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

  <%#= display_meta_tags %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'site', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" type="text/css" href="/app-assets/css/vendors.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/app.css">
</head>

<body style="overflow-x: hidden !important;">

  <main>
    <%= yield %>
  </main>

</body>
</html>
